.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-toolbar {
  background-color: #621518;
  color: white !important;
}

.datos-usuario{
	display: inline-block;
	max-width: 50%;
	font-size: 15px;
	text-align: left;
	margin-left: 5px;
}

.rol-usuario{
	font-size: 12px;
	transform: translateY(-10px);
}

.nombre-usuario{
	transform: translateY(-20px);
}

.avatar-usuario{
	display: inline-block;
	max-width: 25%;
}

.imagen-menu{
	max-height: 70%;
	max-width: 80%
}

.menu-empresa{
	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
}

.cabecera-menu{
	text-align: center;
	color:white;
	margin-top: 10px;
}

.espacio{
	flex: 1 1 auto;
}

mat-divider{
  border-top-color: rgba(255,255,255,0.15);
  width: 80%;
  position: relative;
  margin: 15px auto;
}

.imagen-responsiva{
	max-width: 95%;
	max-height: 90%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}