mat-card {
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block !important;
}

mat-card.card {
  border-top-left-radius: 20px !important ;
  border-top-right-radius: 20px !important ;
  padding-top: 30px !important ;
}

.mat-card-content {
  margin-top: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  margin: 0px;
}
.dashboard-card-1 {
  width: 97.5%;
}
